<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.medibook">

    <uses-permission android:name="android.permission.USE_FINGERPRINT" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MediBook">
        <activity
            android:name=".AddHistory"
            android:exported="false"
            android:parentActivityName=".MainActivity2"
            android:label="Add patient history"/>
        <activity
            android:name=".SearchHistory"
            android:exported="false"
            android:parentActivityName=".MainActivity2"
            android:label="Search Patient History"/>
        <activity
            android:name=".SearchPatient"
            android:exported="false"
            android:parentActivityName=".MainActivity2"
            android:label="Search for Patient"/>
        <activity
            android:name=".Register"
            android:exported="false"
            android:parentActivityName=".MainActivity"
            android:label="Register to Login"/>
        <activity
            android:name=".AddDoctor"
            android:label="Add Doctor"
            android:parentActivityName=".MainActivity2" />
        <activity
            android:name=".ViewAllDoctor"
            android:label="View Doctor Details"
            android:parentActivityName=".MainActivity2" />
        <activity
            android:name=".DeleteDoctor"
            android:label="Delete Doctor"
            android:parentActivityName=".MainActivity2" />
        <activity
            android:name=".ViewAllPatient"
            android:label="All Patient Details"
            android:parentActivityName=".MainActivity2" />
        <activity
            android:name=".DeletePatient"
            android:label="Delete Patient Information"
            android:parentActivityName=".MainActivity2" />
        <activity
            android:name=".AddPatient"
            android:exported="false"
            android:label="Add Patient Information"
            android:parentActivityName=".MainActivity2" />
        <activity
            android:name=".MainActivity2"
            android:exported="false"
            android:label="MediBook"
            android:parentActivityName=".MainActivity"/>
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>